body{
    position: relative;
    background: rgb(233, 233, 233);
    font-family: 'IBM Plex Serif', serif;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: justify;
}
#sideBar {
    text-align: center;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(182, 182, 182);
    height: 100%;
    position: fixed;
    z-index: 8;
}
#sideBar .navbar {
    position: absolute;
    top: 220px;
    right: 0;
}
#sideBar ul{
    margin: 0;
    padding: 0;
}
#sideBar li{
    list-style: none;
}
#sideBar .navbar-nav {
    flex-direction: column;
}
#sideBar .bg-light {
    background-color: #b6b6b6!important;
}
/* Content */
#content {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
/* Article */
article img {
    width: 48%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#gallery {
    width: 75%;
    height: 75%;
}
.photo_container {
    width: 100%;
    background: red;
    margin: 0;
    padding: 0;
}
.photo_container img {
    width: 100%;
    background-size: cover;
}

/* SideBar */
@media (max-width: 767px) { 
    #sideBar {
        height: 0;
    }
    #sideBar .navbar {
        position: absolute;
        top: 0;
    }
    #content {
        top: 0;
    }
 }