.wshSideNav {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

section.wsh-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  min-height: 70vh;
}

.wshAuto {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

p.wshPSize{
  font-size: 20px;
}
